.navBar {
  background-color: whitesmoke;
}

.addButton {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 0;
}

.loadingSpinner {
  position: fixed;
  margin-inline: auto;
  margin-block: auto;
  inset-inline: 0;
  margin-top: 40px;
  /* inset-block: 0; */
  text-align: center;
  z-index: 10;
}

@media only screen and (max-width: 350px) {
  .navBrand {
    display: none;
  }
}
