.card {
  height: 200px;
  min-width: 150px;
  cursor: pointer;
  background-color: seashell;
  transition: box-shadow 0.2s ease-in-out;
}

.cardBody {
  overflow: hidden;
  mask-image: linear-gradient(
    180deg,
    #000 60%,
    transparent
  ); /* To Add fading effect to bottom of card body if text overflows */
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.cardText {
  white-space: pre-line;
  line-break: anywhere;
  white-space: pre-line;
}

.cardTitle {
  display: flex;
  justify-content: space-between;
}

.noteDelete {
  color: red;
  transition: transform 0.2s ease-in-out;
}

.noteDelete:hover {
  transform: translateY(-2px);
}
