.dialogBody {
  max-height: 150px;
  line-break: anywhere;
  white-space: pre; /* This ensures the lines break properly */
  scrollbar-width: none;
  overflow-y: scroll;
  mask-image: linear-gradient(
    180deg,
    #000 60%,
    transparent
  ); /* To Add fading effect to bottom of card body if text overflows */
}

.dialogBody::-webkit-scrollbar {
  display: none;
}
